<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
              <div class="dash-left">
                <ul>
                    <li class="active"><a routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</a></li>
                    <li class="active"><a routerLink="/category" [routerLinkActive]="['active']">Category</a></li>
                    <li class="active"><a routerLink="/product" [routerLinkActive]="['active']">Product</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <h1>Category</h1>
                          <form  [formGroup]="catForm" (ngSubmit)="onSubmit(catForm)">
                            <div class="form-group form-row">
                                <label class="col-md-3">Category Name : <span class="required">*</span></label>
                                <div class="col-md-9">
                                  <input type="text" formControlName="name" class="form-control" placeholder="Name" required>
                                  <span *ngIf="!catForm.get('name').valid && catForm.get('name').touched">Please enter Category Name !!!</span>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <button type="submit" [disabled]="!catForm.valid" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                      </div>
                      
                      
                      <div class="dash-right">
                        <h4>Category List</h4>
                        <table>
                          <tr *ngFor="let category of list; let i = index">
                            <td >{{ i+1 }}.{{ category.name }}</td>
                          </tr>
                        </table>
                    </div>
                  </div>
          </div>
          </div>
    </div>
  </section>